.input {
        border: 1px solid grey;
        width: 250px;
        box-sizing: border-box;
        background-color: #f9f9f8;
        border-radius: 5px;
        color: rgb(41, 3, 46);
        margin-top: 20px;
        padding: 10px 10px;
        font-size: 12px;  

      &:hover {
        border: 1px solid black;
        box-sizing: border-box;
        background-color: whitesmoke;
      }

      &:active {
        border: 1px solid black;
        box-sizing: border-box;
        background-color: whitesmoke;
      }
      }
      