.button {
  border-radius: 15px;
  width: 150px;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  font-family: "Verdana", sans-serif;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 500;

  &:hover {
    background-color: black;
  }

  &__dark {
    background-color: #1f2127;
    border: 3px solid #30d5c8;
    color: white;
  }

  &__light {
    background-color: white;
    border: 3px solid grey;
    color: grey;

    &:hover {
      background-color: whitesmoke;
    }
  }

  &:active {
    background-color: black;
    box-shadow: 1px 2px whitesmoke;
    transform: translateY(4px);
  }
}