.registrationpage {
  border-radius: 10px;
  width: 350px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rbuttonbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px 10px;
  font-size: 10px;
  line-height: 1.5;
  font-weight: lighter;
}