.table {
  max-width: 800px;
  border: 1px solid grey;
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr;
  align-items: center;
  grid-gap: 5px 30px;

  &__target {
    width: 350px;
    overflow-wrap: break-word;
  }

  div {
    padding: 5px;
  }
}