.shortLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__short {
        color: grey;
    }

    &__icon {
        padding-left: 20px;
        cursor: pointer;
    }
}